# Бинарные файлы и кеш Go
/bin/
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Кеш Go build
**/vendor/
*.a

# Файлы GoLand
.idea/
*.iml
*.ipr
*.iws
/out/

# Логи и временные файлы
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
docker_data/db_data

.env